body {
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
}

* {
    box-sizing: border-box;
}

*:link {
    text-decoration: none;
}

*:visited {
    text-decoration: none;
}

*:hover {
    text-decoration: none;
}

*:active {
    text-decoration: none;
}

a {
    color: inherit;
}

ion-icon {
    font-size: 22px;
}

.profile-large {
    height: 56px;
    width: 56px;
    border-radius: 56px;
}
.profile-small {
    height: 32px;
    width: 32px;
    border-radius: 32px;
}
.main-page {
    display: flex;
    justify-content: space-between;
    max-width: 935px;
    margin-left: auto;
    margin-right: auto;
}
.main-content {
    display: flex;
    flex-direction: column;
    max-width: 614px;
}
.post {
    background: #ffffff;
    margin-bottom: 60px;
}
.post-top-bar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}
.post-top-left {
    display: flex;
    align-items: center;
}
.post-user {
    margin-left: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #262626;
}
.post-bottom-bar {
    width: 100%;
    height: 76px;
    display: flex;
    flex-direction: column;
}
.post-bottom-bar-line1 {
    margin-top: 10px;
    padding-left: 14px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
}
.post-bottom-bar-line2 {
    margin-top: 10px;
    padding: 0 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post-bottom-left {
    display: flex;
    gap: 13px;
}

.profile-like {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.like-count {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    margin-left: 5px;
}
.post-image {
    width: 100%;
    max-height: 612px;
    object-fit: contain;
}
